/* .hi-container {
  display: flex;
  align-items: center; 
}

.hi-text {
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px; 
}

.hi-weather {
  font-size: 40px;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
} */

/* .home-bg {
  background-image: url("../assets/th.jpeg");
  background-size: cover;
  background-position: center;
  height: 10vh;
  opacity: 0.5;
} */

/* .home-pattern {
  background-image: url("../assets/th.jpeg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 50vh;
  opacity: 0.5;
} */
