* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-between; /* Verbreitet die Elemente gleichmäßig über die gesamte Breite */
  align-items: center; /* Zentriert die Items vertikal */
  padding: 0 1rem; /* Fügt einen Abstand auf beiden Seiten hinzu */
  width: 100%; /* Stellt sicher, dass die Navbar die gesamte Breite einnimmt */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
}

.closet-coordinator {
  color: #ffffff;
  font-weight: bolder;
  font-size: 15px;
  line-height: 16px;
}

.profile-icon {
  color: #ffffff;
  align-items: center;
}

.doc {
  color: #ffffff;

  &:hover {
    text-decoration: underline;
  }
}
