* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.closet-coordinator {
  color: #ffffff;
  font-weight: bolder;
  font-size: 15px;
  line-height: 16px;
}

.profile-icon {
  color: #ffffff;
  align-items: center;
}

.doc {
  color: #ffffff;

  &:hover {
    text-decoration: underline;
  }
}
